body{
		background: url("background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto Slab', serif;

}
h3,  h2{
	text-align: center;
}
.text{
margin:auto;
margin-top: 275px;
}


